USE [s16guest63]
GO
/****** Object:  StoredProcedure [dbo].[insert_streets]    Script Date: 5/5/2016 8:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[insert_streets]
	@street_name varchar(50)

AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @exists INT

	SET @exists = (SELECT COUNT(*) FROM Streets WHERE street_name = @street_name);

	IF @exists = 0
		BEGIN
				INSERT INTO Streets (street_name) 
				VALUES (@street_name)
		END
	ELSE
		PRINT 'Street Already exists, no need for update.'
END
GO
